batch-export/force-app/main/default/flows/New_Batch_Export.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>choiceCaseC</name>
        <choiceText>Exported Cases (Case__c)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case__c</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceFile</name>
        <choiceText>Files (Attachments)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>File</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Running</name>
        <label>Check Running</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Batch_Export</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Running</defaultConnectorLabel>
        <rules>
            <name>Running</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Running_Batch.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Batch_Already_Running</targetReference>
            </connector>
            <label>Running</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>New Batch Export {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Batch Export</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Batch_Export</name>
        <label>Create Batch Export</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Batch_Export_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Bulk_API_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Export_Status__c</field>
            <value>
                <stringValue>Enqueued</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filter_Criteria__c</field>
            <value>
                <elementReference>filterCriteria</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Page_Size__c</field>
            <value>
                <elementReference>pageSize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Query__c</field>
            <value>
                <elementReference>query</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Object__c</field>
            <value>
                <elementReference>Target_Object</elementReference>
            </value>
        </inputAssignments>
        <object>Batch_Export__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Running_Batch</name>
        <label>Get Running Batch</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Running</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Export_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Batch_Export__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Batch_Already_Running</name>
        <label>Batch Already Running</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lblMessage</name>
            <fieldText>&lt;p&gt;A batch export is already running: {!Get_Running_Batch.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Batch_Export</name>
        <label>Batch Export</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Running_Batch</targetReference>
        </connector>
        <fields>
            <name>query</name>
            <fieldText>Query</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Target_Object</name>
            <choiceReferences>choiceCaseC</choiceReferences>
            <choiceReferences>choiceFile</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Target Object</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>filterCriteria</name>
            <dataType>String</dataType>
            <fieldText>FilterCriteria</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pageSize</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>9999.0</numberValue>
            </defaultValue>
            <fieldText>Page Size (Page Size &gt; 9,999 will result in Governor Limit Error)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Batch_Export_Created</name>
        <label>Batch Export Created</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lblMessageS</name>
            <fieldText>&lt;p&gt;New Batch Export has been Submitted.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Batch_Export</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
